<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erui.report.dao.BuyerStatisticsMapper">

    <select id="findCountryRegisterBuyerList" resultType="java.util.Map">
        SELECT
            id,
            buyer_code AS buyerCode,
            country_name AS countryName,
            area_name AS areaName,
            acquiring_user_name as acquiringUserName,
            IFNULL(DATE_FORMAT(register_time, '%Y/%m/%d'),'') AS registerTime
        FROM
            erui_report.rep_buyer_country_info
        WHERE
            register_time IS NOT NULL
            <if test="registerStartTime != null and registerStartTime != ''">
                AND register_time <![CDATA[>=]]> #{registerStartTime}
            </if>
            <if test="registerEndTime != null and registerEndTime != ''">
                AND register_time <![CDATA[<=]]> #{registerEndTime}
            </if>
    </select>


    <select id="findCountryMembershipBuyerList" resultType="java.util.Map">
        SELECT
            id,
            buyer_code AS buyerCode,
            country_name AS countryName,
            area_name AS areaName,
            acquiring_user_name as acquiringUserName,
            IFNULL(DATE_FORMAT(membership_time, '%Y/%m/%d'),'') AS membershipTime
        FROM
            erui_report.rep_buyer_country_info
        WHERE
            membership_time IS NOT NULL
            <if test="membershipStartTime != null and membershipStartTime != ''">
                AND membership_time <![CDATA[>=]]> #{membershipStartTime}
            </if>
            <if test="membershipEndTime != null and membershipEndTime != ''">
                AND membership_time <![CDATA[<=]]> #{membershipEndTime}
            </if>
    </select>


    <select id="findCountryApplyBuyerList" resultType="java.util.Map">
        SELECT
            id,
            buyer_code AS buyerCode,
            country_name AS countryName,
            area_name AS areaName,
            acquiring_user_name as acquiringUserName,
            IFNULL(DATE_FORMAT(apply_time, '%Y/%m/%d'),'') AS applyTime
        FROM
            erui_report.rep_buyer_country_info
        WHERE
            apply_time IS NOT NULL
            <if test="applyStartTime != null and applyStartTime != ''">
                AND apply_time <![CDATA[>=]]> #{applyStartTime}
            </if>
            <if test="applyEndTime != null and applyEndTime != ''">
                AND apply_time <![CDATA[<=]]> #{applyEndTime}
            </if>
    </select>


    <select id="orderBuyerStatistics" resultType="java.util.Map">
        SELECT
        area_bn,
        area_name,
        country_bn,
        country_name,
        COUNT(buyer_code) AS num
        FROM
        erui_report.rep_buyer_country_info
        WHERE
            membership_time IS NOT NULL
            <if test="startTime != null and startTime != ''">
                AND membership_time <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND membership_time <![CDATA[<=]]> #{endTime}
            </if>
        GROUP BY area_bn , area_name , country_bn , country_name
        ORDER BY 5 DESC

    </select>
</mapper>