<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erui.report.dao.BuyerStatisticsMapper">

    <select id="findCountryBuyerList" resultType="java.util.Map">
        SELECT
            id,
            buyer_code AS buyerCode,
            country_name AS country_name,
            area_name AS areaName,
            IFNULL(DATE_FORMAT(register_time, '%Y/%m/%d'),'') AS registerTime,
            IFNULL(DATE_FORMAT(membership_time, '%Y/%m/%d'),'') AS membershipTime,
            IFNULL(DATE_FORMAT(apply_time, '%Y/%m/%d'),'') AS applyTime
        FROM
            erui_report.rep_buyer_country_info
        <where>
            <if test="registerStartTime != null and registerStartTime != ''">
                register_time <![CDATA[>=]]> #{registerStartTime}
            </if>
            <if test="registerEndTime != null and registerEndTime != ''">
                AND register_time <![CDATA[<=]]> #{registerEndTime}
            </if>
            <if test="membershipStartTime != null and membershipStartTime != ''">
                AND membership_time <![CDATA[>=]]> #{membershipStartTime}
            </if>
            <if test="membershipEndTime != null and membershipEndTime != ''">
                AND membership_time <![CDATA[<=]]> #{membershipEndTime}
            </if>
            <if test="applyStartTime != null and applyStartTime != ''">
                AND apply_time <![CDATA[>=]]> #{applyStartTime}
            </if>
            <if test="applyEndTime != null and applyEndTime != ''">
                AND apply_time <![CDATA[<=]]> #{applyEndTime}
            </if>
        </where>
    </select>


</mapper>