<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erui.report.dao.MemberInfoStatisticsMapper">

    <!--按地区统计会员等级（普通会员、高级会员）-->
    <select id="membershipGradeByArea" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        ma.`name` as `name`,
        SUM(IF(b.`buyer_level` = 52, 1, 0)) AS normalGrade,
        SUM(IF(b.`buyer_level` = 53, 1, 0)) AS topGrade
        FROM
        `erui_buyer`.`buyer` b
        INNER JOIN
        erui_operation.market_area_country mac ON mac.country_bn = b.country_bn
        INNER JOIN
        erui_operation.market_area ma ON mac.market_area_bn = ma.bn
        WHERE
        b.deleted_flag = 'N'
        AND ma.deleted_flag = 'N'
        AND b.created_at BETWEEN #{startTime} AND #{endTime}
        AND ma.lang = 'zh'
        AND ((b.`deleted_flag` = 'N')
        OR (b.`deleted_flag` = 'N'
        AND b.`source` = 1
        AND b.`buyer_code` IS NOT NULL
        AND b.`buyer_code` <![CDATA[ <> ]]> ''))
        GROUP BY ma.`name`
        ORDER BY SUM(IF(b.`buyer_level` = 52
        OR b.`buyer_level` = 53,
        1,
        0))
        <if test="sort != 1" >
            DESC
        </if>
    </select>

    <!--按国家统计会员等级（普通会员、高级会员）-->
    <select id="membershipGradeByCountry" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        ma.`name` AS `name`,
        SUM(IF(b.`buyer_level` = 52, 1, 0)) AS normalGrade,
        SUM(IF(b.`buyer_level` = 53, 1, 0)) AS topGrade
        FROM
        `erui_buyer`.`buyer` b
        INNER JOIN
        erui_dict.country ma ON b.country_bn = ma.bn
        WHERE
        b.deleted_flag = 'N'
        AND ma.deleted_flag = 'N'
        AND b.created_at BETWEEN #{startTime} AND #{endTime}
        AND ma.lang = 'zh'
        AND ((b.`deleted_flag` = 'N')
        OR (b.`deleted_flag` = 'N'
        AND b.`source` = 1
        AND b.`buyer_code` IS NOT NULL
        AND b.`buyer_code` <![CDATA[ <> ]]> ''))
        GROUP BY ma.`name`
        ORDER BY SUM(IF(b.`buyer_level` = 52
        OR b.`buyer_level` = 53,
        1,
        0))
        <if test="sort != 1" >
            DESC
        </if>
    </select>

    <!--按照地区统计客户拜访统计-->
    <select id="visitStatisticsByArea" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        ma.`name` as `name`, COUNT(DISTINCT bv.id) as num
        FROM
        erui_buyer.buyer_visit bv
        INNER JOIN
        erui_buyer.buyer b ON bv.buyer_id = b.id
        INNER JOIN
        erui_operation.market_area_country mac ON mac.country_bn = b.country_bn
        INNER JOIN
        erui_operation.market_area ma ON mac.market_area_bn = ma.bn
        WHERE
        bv.deleted_flag = 'N'
        AND b.deleted_flag = 'N'
        AND ma.deleted_flag = 'N'
        AND bv.visit_at BETWEEN #{startTime} AND #{endTime}
        AND ma.lang = 'zh'
        GROUP BY ma.`name`
        ORDER BY COUNT(DISTINCT bv.id)
        <if test="sort != 1" >
            DESC
        </if>
    </select>



    <!--按照国家统计客户拜访统计-->
    <select id="visitStatisticsByCountry" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        ma.`name` AS `name`, COUNT(DISTINCT bv.id) AS num
        FROM
        erui_buyer.buyer_visit bv
        INNER JOIN
        erui_buyer.buyer b ON bv.buyer_id = b.id
        INNER JOIN
        erui_dict.country ma ON b.country_bn = ma.bn
        WHERE
        bv.deleted_flag = 'N'
        AND b.deleted_flag = 'N'
        AND ma.deleted_flag = 'N'
        AND bv.visit_at BETWEEN #{startTime} AND #{endTime}
        AND ma.lang = 'zh'
        GROUP BY ma.`name`
        ORDER BY COUNT(DISTINCT bv.id)
        <if test="sort != 1" >
            DESC
        </if>
    </select>


    <!--按照国家统计客户统计-->
    <select id="membershipByCountry" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        ma.`name`, COUNT(DISTINCT b.id) AS num
        FROM
        erui_buyer.buyer b
        INNER JOIN
        erui_dict.country ma ON b.country_bn = ma.bn
        WHERE
        b.deleted_flag = 'N'
        AND ma.deleted_flag = 'N'
        AND b.created_at BETWEEN #{startTime} AND #{endTime}
        AND ma.lang = 'zh'
        GROUP BY ma.`name`
        ORDER BY COUNT(DISTINCT b.id)
        <if test="sort != 1" >
            DESC
        </if>
    </select>


    <!--按照地区统计客户统计-->
    <select id="membershipByArea" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        ma.`name`, COUNT(DISTINCT b.id) as num
        FROM
        erui_buyer.buyer b
        INNER JOIN
        erui_operation.market_area_country mac ON mac.country_bn = b.country_bn
        INNER JOIN
        erui_operation.market_area ma ON mac.market_area_bn = ma.bn
        WHERE
        b.deleted_flag = 'N'
        AND ma.deleted_flag = 'N'
        AND b.created_at BETWEEN #{startTime} AND #{endTime}
        AND ma.lang = 'zh'
        GROUP BY ma.`name`
        ORDER BY COUNT(DISTINCT b.id)
        <if test="sort != 1" >
            DESC
        </if>
    </select>
</mapper>