<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erui.report.dao.OrderStatisticsMapper">
    <select id="yearPerformance" resultType="java.util.Map">
        SELECT
            `year`, SUM(money) AS money, SUM(count) AS count
        FROM
            erui_report.rep_area_performance
        <where>
            <if test="year != null">
                `year`=#{year}
            </if>
        </where>
        GROUP BY `year`
        ORDER BY `year` ASC
    </select>


    <select id="yearAreaPerformance" resultType="java.util.Map">
        SELECT
          area_bn, area_name, SUM(money) AS money, SUM(count) AS count
        FROM
          erui_report.rep_area_performance
        <where>
            <if test="year != null">
                `year`=#{year}
            </if>
        </where>
        GROUP BY area_bn , area_name
    </select>
</mapper>