<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erui.report.dao.PerformanceIndicatorsMapper" >
  <resultMap id="BaseResultMap" type="com.erui.report.model.PerformanceIndicators" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="start_prescription" property="startPrescription" jdbcType="DATE" />
    <result column="end_prescription" property="endPrescription" jdbcType="DATE" />
    <result column="quota" property="quota" jdbcType="DECIMAL" />
    <result column="price_unit" property="priceUnit" jdbcType="VARCHAR" />
    <result column="ptype" property="ptype" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="area_bn" property="areaBn" jdbcType="VARCHAR" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="country_bn" property="countryBn" jdbcType="VARCHAR" />
    <result column="country_name" property="countryName" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, start_prescription, end_prescription, quota, price_unit, ptype, org_id, org_name, 
    area_bn, area_name, country_bn, country_name, create_user_id, create_user_name, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.erui.report.model.PerformanceIndicatorsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from performance_indicators
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from performance_indicators
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from performance_indicators
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.erui.report.model.PerformanceIndicatorsExample" >
    delete from performance_indicators
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.erui.report.model.PerformanceIndicators" >
    insert into performance_indicators (id, start_prescription, end_prescription, 
      quota, price_unit, ptype, 
      org_id, org_name, area_bn, 
      area_name, country_bn, country_name, 
      create_user_id, create_user_name, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{startPrescription,jdbcType=DATE}, #{endPrescription,jdbcType=DATE}, 
      #{quota,jdbcType=DECIMAL}, #{priceUnit,jdbcType=VARCHAR}, #{ptype,jdbcType=INTEGER}, 
      #{orgId,jdbcType=INTEGER}, #{orgName,jdbcType=VARCHAR}, #{areaBn,jdbcType=VARCHAR}, 
      #{areaName,jdbcType=VARCHAR}, #{countryBn,jdbcType=VARCHAR}, #{countryName,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=INTEGER}, #{createUserName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.erui.report.model.PerformanceIndicators" >
    insert into performance_indicators
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="startPrescription != null" >
        start_prescription,
      </if>
      <if test="endPrescription != null" >
        end_prescription,
      </if>
      <if test="quota != null" >
        quota,
      </if>
      <if test="priceUnit != null" >
        price_unit,
      </if>
      <if test="ptype != null" >
        ptype,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="orgName != null" >
        org_name,
      </if>
      <if test="areaBn != null" >
        area_bn,
      </if>
      <if test="areaName != null" >
        area_name,
      </if>
      <if test="countryBn != null" >
        country_bn,
      </if>
      <if test="countryName != null" >
        country_name,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="startPrescription != null" >
        #{startPrescription,jdbcType=DATE},
      </if>
      <if test="endPrescription != null" >
        #{endPrescription,jdbcType=DATE},
      </if>
      <if test="quota != null" >
        #{quota,jdbcType=DECIMAL},
      </if>
      <if test="priceUnit != null" >
        #{priceUnit,jdbcType=VARCHAR},
      </if>
      <if test="ptype != null" >
        #{ptype,jdbcType=INTEGER},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="areaBn != null" >
        #{areaBn,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="countryBn != null" >
        #{countryBn,jdbcType=VARCHAR},
      </if>
      <if test="countryName != null" >
        #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.erui.report.model.PerformanceIndicatorsExample" resultType="java.lang.Integer" >
    select count(*) from performance_indicators
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update performance_indicators
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.startPrescription != null" >
        start_prescription = #{record.startPrescription,jdbcType=DATE},
      </if>
      <if test="record.endPrescription != null" >
        end_prescription = #{record.endPrescription,jdbcType=DATE},
      </if>
      <if test="record.quota != null" >
        quota = #{record.quota,jdbcType=DECIMAL},
      </if>
      <if test="record.priceUnit != null" >
        price_unit = #{record.priceUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.ptype != null" >
        ptype = #{record.ptype,jdbcType=INTEGER},
      </if>
      <if test="record.orgId != null" >
        org_id = #{record.orgId,jdbcType=INTEGER},
      </if>
      <if test="record.orgName != null" >
        org_name = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.areaBn != null" >
        area_bn = #{record.areaBn,jdbcType=VARCHAR},
      </if>
      <if test="record.areaName != null" >
        area_name = #{record.areaName,jdbcType=VARCHAR},
      </if>
      <if test="record.countryBn != null" >
        country_bn = #{record.countryBn,jdbcType=VARCHAR},
      </if>
      <if test="record.countryName != null" >
        country_name = #{record.countryName,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createUserName != null" >
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update performance_indicators
    set id = #{record.id,jdbcType=INTEGER},
      start_prescription = #{record.startPrescription,jdbcType=DATE},
      end_prescription = #{record.endPrescription,jdbcType=DATE},
      quota = #{record.quota,jdbcType=DECIMAL},
      price_unit = #{record.priceUnit,jdbcType=VARCHAR},
      ptype = #{record.ptype,jdbcType=INTEGER},
      org_id = #{record.orgId,jdbcType=INTEGER},
      org_name = #{record.orgName,jdbcType=VARCHAR},
      area_bn = #{record.areaBn,jdbcType=VARCHAR},
      area_name = #{record.areaName,jdbcType=VARCHAR},
      country_bn = #{record.countryBn,jdbcType=VARCHAR},
      country_name = #{record.countryName,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.erui.report.model.PerformanceIndicators" >
    update performance_indicators
    <set >
      <if test="startPrescription != null" >
        start_prescription = #{startPrescription,jdbcType=DATE},
      </if>
      <if test="endPrescription != null" >
        end_prescription = #{endPrescription,jdbcType=DATE},
      </if>
      <if test="quota != null" >
        quota = #{quota,jdbcType=DECIMAL},
      </if>
      <if test="priceUnit != null" >
        price_unit = #{priceUnit,jdbcType=VARCHAR},
      </if>
      <if test="ptype != null" >
        ptype = #{ptype,jdbcType=INTEGER},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="orgName != null" >
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="areaBn != null" >
        area_bn = #{areaBn,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="countryBn != null" >
        country_bn = #{countryBn,jdbcType=VARCHAR},
      </if>
      <if test="countryName != null" >
        country_name = #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erui.report.model.PerformanceIndicators" >
    update performance_indicators
    set start_prescription = #{startPrescription,jdbcType=DATE},
      end_prescription = #{endPrescription,jdbcType=DATE},
      quota = #{quota,jdbcType=DECIMAL},
      price_unit = #{priceUnit,jdbcType=VARCHAR},
      ptype = #{ptype,jdbcType=INTEGER},
      org_id = #{orgId,jdbcType=INTEGER},
      org_name = #{orgName,jdbcType=VARCHAR},
      area_bn = #{areaBn,jdbcType=VARCHAR},
      area_name = #{areaName,jdbcType=VARCHAR},
      country_bn = #{countryBn,jdbcType=VARCHAR},
      country_name = #{countryName,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!-- 查找时间段内的事业部业绩指标信息 -->
  <select id="selectPerformanceIndicatorsWhereTimeByOrg" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            t1.start_prescription AS startPrescription,
            t1.end_prescription AS endPrescription,
            t1.quota,
            t1.org_id,
            t2.`name` as `name`
        FROM
            erui_report.performance_indicators t1
                LEFT JOIN
            erui_sys.org t2 ON t1.org_id = t2.id
        WHERE
            ptype = 1 AND t1.start_prescription <![CDATA[ <= ]]> #{endTime}
          AND t1.end_prescription >= #{startTime}
  </select>


  <!-- 查找时间段内的国家业绩指标信息 -->
  <select id="selectPerformanceIndicatorsWhereTimeByCountry" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            t1.start_prescription AS startPrescription,
            t1.end_prescription AS endPrescription,
            t1.quota,
            t1.country_bn,
            t2.`name` as `name`
        FROM
            erui_report.performance_indicators t1
                LEFT JOIN
            erui_dict.country t2 ON t1.country_bn = t2.bn AND t2.lang = 'zh'
        WHERE
            ptype = 2 AND t1.start_prescription <![CDATA[ <= ]]> #{endTime}
          AND t1.end_prescription >= #{startTime}
  </select>


  <!-- 查找时间段内的地区业绩指标信息 -->
  <select id="selectPerformanceIndicatorsWhereTimeByArea" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
        t1.start_prescription AS startPrescription,
        t1.end_prescription AS endPrescription,
        t1.quota,
        t1.area_bn,
        t2.`name` as `name`
    FROM
        erui_report.performance_indicators t1
            LEFT JOIN
        erui_operation.market_area t2 ON t1.area_bn = t2.bn AND t2.lang = 'zh'
    WHERE
        ptype = 2 AND t1.start_prescription <![CDATA[ <= ]]> #{endTime}
          AND t1.end_prescription >= #{startTime}
  </select>


</mapper>