<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erui.report.dao.SalesDataStatisticsMapper">

    <!--查询代理供应商按照事业部纬度、时间条件统计总数-->
    <select id="agencySupplierOrgStatisticsData" parameterType="java.util.Map" resultType="java.util.Map">
       SELECT
            t2.`name`, COUNT(1) AS total
        FROM
            erui_supplier.supplier t1
                LEFT JOIN
            erui_sys.org t2 ON t1.org_id = t2.id
        WHERE
            t1.`status` = 'APPROVING'
                AND t1.supplier_type = 'AGENCY'
                AND t1.created_at BETWEEN #{startTime} AND #{endTime}
        GROUP BY t2.`name` ORDER BY 2
        <if test="sort != 1" >
          DESC
        </if>
    </select>

    <!--查询代理供应商按照国家纬度、时间条件统计总数-->
    <select id="agencySupplierCountryStatisticsData" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        t2.`name`, COUNT(1) AS total
        FROM
        erui_supplier.supplier t1
        LEFT JOIN
        erui_dict.country t2 ON t2.lang = 'zh' AND t1.country_bn = t2.bn
        WHERE
        t1.`status` = 'APPROVING'
        AND t1.supplier_type = 'AGENCY'
        AND t1.created_at BETWEEN #{startTime} AND #{endTime}
        GROUP BY t2.`name`
        ORDER BY 2
        <if test="sort != 1" >
            DESC
        </if>
    </select>


    <!--查询询单失败列表，按照失败时间查询-->
    <select id="inquiryFailListByPage" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        t1.id,
        t1.serial_no,
        t2.`name` AS country_name,
        t3.`name` AS org_name,
        t4.`name` AS area_name,
        t5.op_note,
        t5.created_at
        FROM
        erui_rfq.inquiry t1
        LEFT JOIN
        erui_dict.country t2 ON t2.lang = 'zh' AND t2.bn = t1.country_bn
        LEFT JOIN
        erui_sys.org t3 ON t3.id = t1.org_id
        AND t3.deleted_flag = 'N'
        LEFT JOIN
        erui_operation.market_area t4 ON t4.bn = t1.area_bn AND t4.lang = 'zh'
        INNER JOIN
        erui_rfq.inquiry_check_log t5
        WHERE
        t1.id = t5.inquiry_id
        AND t5.action = 'FAIL'
        AND t5.created_at BETWEEN #{startTime} AND #{endTime}
        ORDER BY t5.created_at ASC;
    </select>
</mapper>