<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erui.report.dao.WeeklyReportMapper">

    <!--根据时间过去各地区的新注册会员数中国算是各独立的地区-->
    <select id="selectRegisterCountGroupByAreaAndChina" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT COUNT(1) AS  registerCount ,area FROM
        (
          SELECT buyers.buyer_no AS buyerNo,buyers.buyer_code AS buyerCode ,buyers.created_at AS createdAt ,
                  buyers.source AS source ,areasBn.country_bn AS country,
                  (CASE  WHEN  areasBn.country_bn ='China'  THEN '中国' ELSE areasZh.name END )  as area
          FROM erui_buyer.buyer AS buyers
          LEFT JOIN erui_operation.market_area_country AS areasBn on  buyers.country_bn=areasBn.country_bn
          LEFT JOIN erui_operation.market_area AS areasZh  ON areasBn.market_area_bn=areasZh.bn AND areasZh.lang='zh'
          WHERE buyers.deleted_flag='N'
        ) as a
        WHERE createdAt BETWEEN DATE_FORMAT(#{startTime},"%Y/%m/%d %H:%i:%s")
                               and DATE_FORMAT(#{endTime},"%Y/%m/%d %H:%i:%s")
        GROUP BY area HAVING area IS NOT NULL
    </select>

    <!--根据时间查询各个地区询单总数量-->
    <select id="selectInquiryCountWhereTimeGroupByCountry" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            count(1) AS total,
            countryCn as area
        FROM
            (
                SELECT
                    t1.id,
                    t1.country_bn,
                    (
                        CASE t1.country_bn
                        WHEN 'China' THEN
                            '中国'
                        ELSE
                            t3. NAME
                        END
                    ) AS countryCn
                FROM
                    erui_rfq.inquiry t1,
                    erui_operation.market_area_country t2,
                    erui_operation.market_area t3
                WHERE
                    t1.deleted_flag = 'N'
                AND t1.country_bn = t2.country_bn
                AND t2.market_area_bn = t3.bn
                AND t3.lang = 'zh'
                AND t1.status != 'DRAFT'
                AND t1.created_at BETWEEN DATE_FORMAT(
                    #{startTime},
                    "%Y/%m/%d %H:%i:%s"
                )
                AND DATE_FORMAT(
                    #{endTime},
                    "%Y/%m/%d %H:%i:%s"
                )
            ) AS tb
        GROUP BY
            countryCn
    </select>

    <select id="selectQuoteInfoWhereTimeGroupByCountry" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            count(id) AS total_num,
            sum(
                ifnull(total_quote_price/10000, 0)
            ) AS total_price,
            countryCn AS area
        FROM
            (
                SELECT
                    t1.id,
                    t2.total_quote_price,
                    (
                        CASE t1.country_bn
                        WHEN 'China' THEN
                            '中国'
                        ELSE
                            t4. NAME
                        END
                    ) AS countryCn
                FROM
                    erui_rfq.inquiry t1
                LEFT OUTER JOIN erui_rfq.final_quote t2 ON t1.id = t2.inquiry_id,
                erui_operation.market_area_country t3,
                erui_operation.market_area t4
            WHERE
                t1.country_bn = t3.country_bn
            AND t1.deleted_flag = 'N'
            AND t3.market_area_bn = t4.bn
            AND t4.lang = 'zh'
            AND t1.quote_status IN ('QUOTED', 'COMPLETED')
            AND t1.created_at BETWEEN DATE_FORMAT(
                #{startTime},
                "%Y/%m/%d %H:%i:%s"
            )
            AND DATE_FORMAT(
                #{endTime},
                "%Y/%m/%d %H:%i:%s"
            )
            ) AS tb
        GROUP BY
            countryCn
    </select>



    <select id="selectOrderInfoWhereTimeGroupByCountry" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT countryCn AS area, COUNT(id) AS total_num
            , SUM(ifnull(total_price_usd/10000, 0)) AS total_price
        FROM (
            SELECT CASE t1.country
                    WHEN 'China' THEN '中国'
                    ELSE t2.name
                END AS countryCn, t1.id, t1.total_price_usd
            FROM erui_new_order.order t1, erui_operation.market_area t2
            WHERE t1.region = t2.bn
                AND t2.lang = 'zh'
                AND t1.create_time BETWEEN DATE_FORMAT(#{startTime}, "%Y/%m/%d %H:%i:%s") AND DATE_FORMAT(#{endTime}, "%Y/%m/%d %H:%i:%s")
        ) tb
        GROUP BY countryCn
    </select>

    <!-- 根据时间查询各个事业部的询单数量信息 -->
    <select id="selectInquiryCountWhereTimeGroupByOrg" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            COUNT(t1.id) AS total, t2.`name`
        FROM
            erui_rfq.inquiry t1
                LEFT JOIN
            erui_sys.org t2 ON t1.org_id = t2.id
                AND t2.deleted_flag = 'N'
        WHERE
            t1.deleted_flag = 'N'
                AND t1.created_at BETWEEN DATE_FORMAT(#{startTime}, "%Y/%m/%d %H:%i:%s") AND DATE_FORMAT(#{endTime}, "%Y/%m/%d %H:%i:%s")
        GROUP BY t2.`name`
    </select>

    <!-- 根据时间查询各个事业部的报价数量和金额信息 -->
    <select id="selectQuoteInfoWhereTimeGroupByOrg" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            COUNT(t1.id) AS total_num,
            SUM(IFNULL(total_quote_price/10000, 0)) AS total_price,
            t2.`name`
        FROM
            erui_rfq.inquiry t1
                LEFT OUTER JOIN
            erui_sys.org t2 ON t1.org_id = t2.id
                AND t2.`deleted_flag` = 'N'
                LEFT OUTER JOIN
            erui_rfq.final_quote t3 ON t1.id = t3.inquiry_id
                AND t3.`deleted_flag` = 'N'
        WHERE
            t1.deleted_flag = 'N'
            AND t1.quote_status IN ('QUOTED' , 'COMPLETED')
            AND t1.updated_at BETWEEN DATE_FORMAT(
                #{startTime},
                "%Y/%m/%d %H:%i:%s"
            )
            AND DATE_FORMAT(
                #{endTime},
                "%Y/%m/%d %H:%i:%s"
            )
        GROUP BY t2.`name`
    </select>

    <!-- 根据时间查询各个事业部的报价用时 -->
    <select id="selectQuoteTimeWhereTimeGroupByOrg" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            SUM(IFNULL(t3.diff, 0)) AS diff, t2.`name`
        FROM
            erui_rfq.inquiry t1
                LEFT OUTER JOIN
            erui_sys.org t2 ON t1.org_id = t2.id
                AND t2.`deleted_flag` = 'N',
            (SELECT
                inquiry_id,
                    TIMESTAMPDIFF(MINUTE, MIN(CASE in_node
                        WHEN 'DRAFT' THEN into_at
                        ELSE NULL
                    END), MAX(CASE out_node
                        WHEN 'MARKET_CONFIRMING' THEN out_at
                        ELSE NULL
                    END)) AS diff
            FROM
                erui_rfq.inquiry_check_log
            WHERE
                in_node = 'DRAFT'
                    OR out_node = 'MARKET_CONFIRMING'
            GROUP BY inquiry_id) t3
        WHERE
            t1.id = t3.inquiry_id
                AND t1.deleted_flag = 'N'
                AND t1.quote_status IN ('QUOTED' , 'COMPLETED')
            AND t1.updated_at BETWEEN DATE_FORMAT(
                #{startTime},
                "%Y/%m/%d %H:%i:%s"
            )
            AND DATE_FORMAT(
                #{endTime},
                "%Y/%m/%d %H:%i:%s"
            )
        GROUP BY t2.name
    </select>
    <select id="selectOrderInfoWhereTimeGroupByOrg" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            t2.name,
            COUNT(t1.id) AS total_num,
            SUM(IFNULL(total_price_usd/10000, 0)) AS total_price
        FROM
            erui_new_order.order t1
                LEFT OUTER JOIN
            erui_sys.org t2 ON t1.business_unit_id = t2.id
        WHERE t1.create_time BETWEEN DATE_FORMAT(#{startTime}, "%Y/%m/%d %H:%i:%s") AND DATE_FORMAT(#{endTime}, "%Y/%m/%d %H:%i:%s")
        GROUP BY t2.name;
    </select>

    <select id="selectSupplierNumWhereTimeGroupByOrg" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            t2.name, COUNT(1) AS total
        FROM
            erui_supplier.supplier t1
                LEFT OUTER JOIN
            erui_sys.org t2 ON t1.org_id = t2.id
                AND t2.deleted_flag = 'N'
        WHERE
            t1.status = 'APPROVED'
                AND t1.deleted_flag = 'N'
                AND t1.expire_status = 'N'
                AND t1.checked_at BETWEEN DATE_FORMAT(#{startTime}, "%Y/%m/%d %H:%i:%s") AND DATE_FORMAT(#{endTime}, "%Y/%m/%d %H:%i:%s")
        GROUP BY t2.name
    </select>

    <select id="selectSpuAndSkuNumWhereTimeGroupByOrg" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            t2.name,
            COUNT(t1.spu) AS total_spu,
            SUM(t1.sku) AS total_sku
        FROM
            (SELECT
                spu,
                    MAX(bizline_id) AS bizline_id,
                    CONVERT( SUM(sku_count - sku_count_notvalid) / COUNT(id) , SIGNED) AS sku
            FROM
                erui_goods.product
            WHERE
                deleted_flag = 'N'
                AND `status` = 'VALID'
                AND created_at BETWEEN DATE_FORMAT(#{startTime}, "%Y/%m/%d %H:%i:%s") AND DATE_FORMAT(#{endTime}, "%Y/%m/%d %H:%i:%s")
            GROUP BY spu) AS t1
                LEFT OUTER JOIN
            erui_sys.org t2 ON t2.id = t1.bizline_id
                AND t2.deleted_flag = 'N'
        GROUP BY t2.name
    </select>

    <!--根据时间查询询单总数量-->
    <select id="selectInquiryCountWhereTimeGroupByCountryTotal" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
            COUNT(id) AS total_all
        FROM
            erui_rfq.inquiry t1
        WHERE
            t1.deleted_flag = 'N'
                AND t1.created_at BETWEEN DATE_FORMAT(#{startTime},'%Y/%m/%d %H:%i:%s') AND DATE_FORMAT(#{endTime},'%Y/%m/%d %H:%i:%s')
    </select>


    <select id="selectQuoteInfoWhereTimeGroupByCountryTotal" parameterType="java.util.Map" resultType="java.lang.Integer">
       SELECT
            COUNT(id) AS total_all
        FROM
            erui_rfq.inquiry t1
        WHERE
            t1.deleted_flag = 'N'
                AND t1.quote_status IN ('QUOTED' , 'COMPLETED')
                AND t1.updated_at BETWEEN DATE_FORMAT(#{startTime},'%Y/%m/%d %H:%i:%s') AND DATE_FORMAT(#{endTime},'%Y/%m/%d %H:%i:%s')
    </select>

    <select id="selectOrderInfoWhereTimeGroupByCountryTotal" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) as total FROM erui_new_order.order t1
          where t1.create_time BETWEEN DATE_FORMAT(#{startTime}, "%Y/%m/%d %H:%i:%s") AND DATE_FORMAT(#{endTime}, "%Y/%m/%d %H:%i:%s")
    </select>
</mapper>