<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erui.report.dao.OrderOutboundCountMapper" >
  <resultMap id="BaseResultMap" type="com.erui.report.model.OrderOutboundCount" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="outbound_num" property="outboundNum" jdbcType="VARCHAR" />
    <result column="contract_num" property="contractNum" jdbcType="VARCHAR" />
    <result column="destination" property="destination" jdbcType="VARCHAR" />
    <result column="execute_num" property="executeNum" jdbcType="VARCHAR" />
    <result column="pack_count" property="packCount" jdbcType="INTEGER" />
    <result column="outbound_date" property="outboundDate" jdbcType="DATE" />
    <result column="amounts" property="amounts" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, create_at, outbound_num, contract_num, destination, execute_num, pack_count, 
    outbound_date, amounts, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.erui.report.model.OrderOutboundCountExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_outbound_count
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_outbound_count
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_outbound_count
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.erui.report.model.OrderOutboundCountExample" >
    delete from order_outbound_count
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.erui.report.model.OrderOutboundCount" >
    insert into order_outbound_count (id, create_at, outbound_num, 
      contract_num, destination, execute_num, 
      pack_count, outbound_date, amounts, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{createAt,jdbcType=TIMESTAMP}, #{outboundNum,jdbcType=VARCHAR}, 
      #{contractNum,jdbcType=VARCHAR}, #{destination,jdbcType=VARCHAR}, #{executeNum,jdbcType=VARCHAR}, 
      #{packCount,jdbcType=INTEGER}, #{outboundDate,jdbcType=DATE}, #{amounts,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.erui.report.model.OrderOutboundCount" >
    insert into order_outbound_count
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="outboundNum != null" >
        outbound_num,
      </if>
      <if test="contractNum != null" >
        contract_num,
      </if>
      <if test="destination != null" >
        destination,
      </if>
      <if test="executeNum != null" >
        execute_num,
      </if>
      <if test="packCount != null" >
        pack_count,
      </if>
      <if test="outboundDate != null" >
        outbound_date,
      </if>
      <if test="amounts != null" >
        amounts,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="outboundNum != null" >
        #{outboundNum,jdbcType=VARCHAR},
      </if>
      <if test="contractNum != null" >
        #{contractNum,jdbcType=VARCHAR},
      </if>
      <if test="destination != null" >
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="executeNum != null" >
        #{executeNum,jdbcType=VARCHAR},
      </if>
      <if test="packCount != null" >
        #{packCount,jdbcType=INTEGER},
      </if>
      <if test="outboundDate != null" >
        #{outboundDate,jdbcType=DATE},
      </if>
      <if test="amounts != null" >
        #{amounts,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.erui.report.model.OrderOutboundCountExample" resultType="java.lang.Integer" >
    select count(*) from order_outbound_count
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order_outbound_count
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createAt != null" >
        create_at = #{record.createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.outboundNum != null" >
        outbound_num = #{record.outboundNum,jdbcType=VARCHAR},
      </if>
      <if test="record.contractNum != null" >
        contract_num = #{record.contractNum,jdbcType=VARCHAR},
      </if>
      <if test="record.destination != null" >
        destination = #{record.destination,jdbcType=VARCHAR},
      </if>
      <if test="record.executeNum != null" >
        execute_num = #{record.executeNum,jdbcType=VARCHAR},
      </if>
      <if test="record.packCount != null" >
        pack_count = #{record.packCount,jdbcType=INTEGER},
      </if>
      <if test="record.outboundDate != null" >
        outbound_date = #{record.outboundDate,jdbcType=DATE},
      </if>
      <if test="record.amounts != null" >
        amounts = #{record.amounts,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order_outbound_count
    set id = #{record.id,jdbcType=INTEGER},
      create_at = #{record.createAt,jdbcType=TIMESTAMP},
      outbound_num = #{record.outboundNum,jdbcType=VARCHAR},
      contract_num = #{record.contractNum,jdbcType=VARCHAR},
      destination = #{record.destination,jdbcType=VARCHAR},
      execute_num = #{record.executeNum,jdbcType=VARCHAR},
      pack_count = #{record.packCount,jdbcType=INTEGER},
      outbound_date = #{record.outboundDate,jdbcType=DATE},
      amounts = #{record.amounts,jdbcType=DECIMAL},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.erui.report.model.OrderOutboundCount" >
    update order_outbound_count
    <set >
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="outboundNum != null" >
        outbound_num = #{outboundNum,jdbcType=VARCHAR},
      </if>
      <if test="contractNum != null" >
        contract_num = #{contractNum,jdbcType=VARCHAR},
      </if>
      <if test="destination != null" >
        destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="executeNum != null" >
        execute_num = #{executeNum,jdbcType=VARCHAR},
      </if>
      <if test="packCount != null" >
        pack_count = #{packCount,jdbcType=INTEGER},
      </if>
      <if test="outboundDate != null" >
        outbound_date = #{outboundDate,jdbcType=DATE},
      </if>
      <if test="amounts != null" >
        amounts = #{amounts,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erui.report.model.OrderOutboundCount" >
    update order_outbound_count
    set create_at = #{createAt,jdbcType=TIMESTAMP},
      outbound_num = #{outboundNum,jdbcType=VARCHAR},
      contract_num = #{contractNum,jdbcType=VARCHAR},
      destination = #{destination,jdbcType=VARCHAR},
      execute_num = #{executeNum,jdbcType=VARCHAR},
      pack_count = #{packCount,jdbcType=INTEGER},
      outbound_date = #{outboundDate,jdbcType=DATE},
      amounts = #{amounts,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="truncateTable" >
    truncate table order_outbound_count
  </update>
</mapper>