<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erui.report.dao.ProcurementCountMapper" >
  <resultMap id="BaseResultMap" type="com.erui.report.model.ProcurementCount" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="assign_time" property="assignTime" jdbcType="TIMESTAMP" />
    <result column="plan_num" property="planNum" jdbcType="VARCHAR" />
    <result column="execute_num" property="executeNum" jdbcType="VARCHAR" />
    <result column="ammount" property="ammount" jdbcType="DECIMAL" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="oil" property="oil" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, assign_time, plan_num, execute_num, ammount, category, area, country, oil
  </sql>
  <select id="selectProcurPandent" resultType="java.util.Map" parameterType="com.erui.report.model.ProcurementCountExample" >
    select
    COUNT(plan_num) AS procurementCount,
      COUNT(execute_num) AS signingContractCount,
      IFNULL(SUM(IFNULL(ammount,0)),0) AS signingContractAmount
    from procurement_count
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectProcurTrend" resultType="java.util.Map" parameterType="com.erui.report.model.ProcurementCountExample" >
    select
    COUNT(plan_num) AS procurementCount,
    COUNT(execute_num) AS signingContractCount,
    IFNULL(SUM(IFNULL(ammount,0)),0) AS signingContractAmount,
    DATE_FORMAT(assign_time,'%Y-%m-%d') AS assignTime
    from procurement_count
    <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
        order by ${orderByClause}
    </if>
    GROUP BY assign_time HAVING assign_time IS NOT NULL
</select>

    <select id="selectCategoryDetail" resultType="com.erui.report.model.ProcurementCount" parameterType="com.erui.report.model.ProcurementCountExample" >
        select
        COUNT(plan_num) AS planNum,
        COUNT(execute_num) AS executeNum,
        IFNULL(SUM(IFNULL(ammount,0)),0) AS ammount,
        category AS category
        from procurement_count
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
        GROUP BY category HAVING category IS NOT NULL
    </select>

  <select id="selectAllAreaAndCountryList" resultType="java.util.Map">
    SELECT  area AS area, country AS country FROM  procurement_count
    GROUP BY area, 	country HAVING  area IS NOT NULL
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.erui.report.model.ProcurementCountExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from procurement_count
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectArea" resultType="map">
    SELECT area FROM procurement_count GROUP BY area HAVING  area IS  NOT  NULL
  </select>
  <select id="selectCountry" resultType="map" parameterType="com.erui.report.model.ProcurementCountExample">
    SELECT DISTINCT country FROM procurement_count
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from procurement_count
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from procurement_count
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.erui.report.model.ProcurementCountExample" >
    delete from procurement_count
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.erui.report.model.ProcurementCount" >
    insert into procurement_count (id, assign_time, plan_num, 
      execute_num, ammount, category, 
      area, country, oil)
    values (#{id,jdbcType=INTEGER}, #{assignTime,jdbcType=TIMESTAMP}, #{planNum,jdbcType=VARCHAR}, 
      #{executeNum,jdbcType=VARCHAR}, #{ammount,jdbcType=DECIMAL}, #{category,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{oil,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.erui.report.model.ProcurementCount" >
    insert into procurement_count
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="assignTime != null" >
        assign_time,
      </if>
      <if test="planNum != null" >
        plan_num,
      </if>
      <if test="executeNum != null" >
        execute_num,
      </if>
      <if test="ammount != null" >
        ammount,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="oil != null" >
        oil,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="assignTime != null" >
        #{assignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planNum != null" >
        #{planNum,jdbcType=VARCHAR},
      </if>
      <if test="executeNum != null" >
        #{executeNum,jdbcType=VARCHAR},
      </if>
      <if test="ammount != null" >
        #{ammount,jdbcType=DECIMAL},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="oil != null" >
        #{oil,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.erui.report.model.ProcurementCountExample" resultType="java.lang.Integer" >
    select count(*) from procurement_count
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update procurement_count
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.assignTime != null" >
        assign_time = #{record.assignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.planNum != null" >
        plan_num = #{record.planNum,jdbcType=VARCHAR},
      </if>
      <if test="record.executeNum != null" >
        execute_num = #{record.executeNum,jdbcType=VARCHAR},
      </if>
      <if test="record.ammount != null" >
        ammount = #{record.ammount,jdbcType=DECIMAL},
      </if>
      <if test="record.category != null" >
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null" >
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.oil != null" >
        oil = #{record.oil,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update procurement_count
    set id = #{record.id,jdbcType=INTEGER},
      assign_time = #{record.assignTime,jdbcType=TIMESTAMP},
      plan_num = #{record.planNum,jdbcType=VARCHAR},
      execute_num = #{record.executeNum,jdbcType=VARCHAR},
      ammount = #{record.ammount,jdbcType=DECIMAL},
      category = #{record.category,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      country = #{record.country,jdbcType=VARCHAR},
      oil = #{record.oil,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.erui.report.model.ProcurementCount" >
    update procurement_count
    <set >
      <if test="assignTime != null" >
        assign_time = #{assignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planNum != null" >
        plan_num = #{planNum,jdbcType=VARCHAR},
      </if>
      <if test="executeNum != null" >
        execute_num = #{executeNum,jdbcType=VARCHAR},
      </if>
      <if test="ammount != null" >
        ammount = #{ammount,jdbcType=DECIMAL},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="oil != null" >
        oil = #{oil,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erui.report.model.ProcurementCount" >
    update procurement_count
    set assign_time = #{assignTime,jdbcType=TIMESTAMP},
      plan_num = #{planNum,jdbcType=VARCHAR},
      execute_num = #{executeNum,jdbcType=VARCHAR},
      ammount = #{ammount,jdbcType=DECIMAL},
      category = #{category,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      oil = #{oil,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="truncateTable" >
    truncate table procurement_count
  </update>
</mapper>