<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erui.report.dao.RequestCreditMapper" >
  <resultMap id="BaseResultMap" type="com.erui.report.model.RequestCredit" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="credit_serial_num" property="creditSerialNum" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="sales_main_company" property="salesMainCompany" jdbcType="VARCHAR" />
    <result column="sales_area" property="salesArea" jdbcType="VARCHAR" />
    <result column="sales_country" property="salesCountry" jdbcType="VARCHAR" />
    <result column="organization" property="organization" jdbcType="VARCHAR" />
    <result column="customer_code" property="customerCode" jdbcType="VARCHAR" />
    <result column="export_pro_name" property="exportProName" jdbcType="VARCHAR" />
    <result column="trade_terms" property="tradeTerms" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="VARCHAR" />
    <result column="order_amount" property="orderAmount" jdbcType="DECIMAL" />
    <result column="credit_currency" property="creditCurrency" jdbcType="VARCHAR" />
    <result column="receive_amount" property="receiveAmount" jdbcType="DECIMAL" />
    <result column="warn_status" property="warnStatus" jdbcType="CHAR" />
    <result column="back_response_person" property="backResponsePerson" jdbcType="VARCHAR" />
    <result column="back_date" property="backDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, credit_serial_num, order_num, sales_main_company, sales_area, sales_country, 
    organization, customer_code, export_pro_name, trade_terms, create_at, order_amount, 
    credit_currency, receive_amount, warn_status, back_response_person, back_date
  </sql>
  <select id="selectTotal" resultType="java.util.Map" parameterType="com.erui.report.model.RequestCredit">
    SELECT SUM(receive_amount) sd,SUM(order_amount) ed FROM `request_credit`;
  </select>
  <select id="selectRequestTotal" resultType="java.util.Map" parameterType="com.erui.report.model.RequestCreditExample">
    SELECT SUM(IFNULL(receive_amount,0)) sd,SUM(IFNULL(order_amount,0)) sdT,IFNULL(SUM(order_amount-receive_amount),0) sded FROM `request_credit`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
</select>

  <select id="selectRequestTrend" resultType="java.util.Map" parameterType="com.erui.report.model.RequestCreditExample">
    SELECT order_amount,receive_amount,(order_amount-receive_amount) AS received,back_date,create_at FROM request_credit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectArea" resultType="map" parameterType="com.erui.report.model.RequestCredit" >
    SELECT sales_area FROM request_credit GROUP BY sales_area
  </select>
  <select id="selectCountry" resultType="map" parameterType="com.erui.report.model.RequestCreditExample">
      SELECT DISTINCT sales_country FROM request_credit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByAreaOrCountry" resultType="map" parameterType="com.erui.report.model.RequestCreditExample" >
    SELECT SUM(order_amount) AS oa,SUM(receive_amount) AS ra,SUM(order_amount-receive_amount) AS received  FROM request_credit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.erui.report.model.RequestCreditExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from request_credit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from request_credit
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from request_credit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.erui.report.model.RequestCreditExample" >
    delete from request_credit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.erui.report.model.RequestCredit" >
    insert into request_credit (id, credit_serial_num, order_num, 
      sales_main_company, sales_area, sales_country, 
      organization, customer_code, export_pro_name, 
      trade_terms, create_at, order_amount, 
      credit_currency, receive_amount, warn_status, 
      back_response_person, back_date)
    values (#{id,jdbcType=BIGINT}, #{creditSerialNum,jdbcType=VARCHAR}, #{orderNum,jdbcType=VARCHAR}, 
      #{salesMainCompany,jdbcType=VARCHAR}, #{salesArea,jdbcType=VARCHAR}, #{salesCountry,jdbcType=VARCHAR}, 
      #{organization,jdbcType=VARCHAR}, #{customerCode,jdbcType=VARCHAR}, #{exportProName,jdbcType=VARCHAR}, 
      #{tradeTerms,jdbcType=VARCHAR}, #{createAt,jdbcType=VARCHAR}, #{orderAmount,jdbcType=DECIMAL}, 
      #{creditCurrency,jdbcType=VARCHAR}, #{receiveAmount,jdbcType=DECIMAL}, #{warnStatus,jdbcType=CHAR}, 
      #{backResponsePerson,jdbcType=VARCHAR}, #{backDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.erui.report.model.RequestCredit" >
    insert into request_credit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="creditSerialNum != null" >
        credit_serial_num,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="salesMainCompany != null" >
        sales_main_company,
      </if>
      <if test="salesArea != null" >
        sales_area,
      </if>
      <if test="salesCountry != null" >
        sales_country,
      </if>
      <if test="organization != null" >
        organization,
      </if>
      <if test="customerCode != null" >
        customer_code,
      </if>
      <if test="exportProName != null" >
        export_pro_name,
      </if>
      <if test="tradeTerms != null" >
        trade_terms,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="orderAmount != null" >
        order_amount,
      </if>
      <if test="creditCurrency != null" >
        credit_currency,
      </if>
      <if test="receiveAmount != null" >
        receive_amount,
      </if>
      <if test="warnStatus != null" >
        warn_status,
      </if>
      <if test="backResponsePerson != null" >
        back_response_person,
      </if>
      <if test="backDate != null" >
        back_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="creditSerialNum != null" >
        #{creditSerialNum,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="salesMainCompany != null" >
        #{salesMainCompany,jdbcType=VARCHAR},
      </if>
      <if test="salesArea != null" >
        #{salesArea,jdbcType=VARCHAR},
      </if>
      <if test="salesCountry != null" >
        #{salesCountry,jdbcType=VARCHAR},
      </if>
      <if test="organization != null" >
        #{organization,jdbcType=VARCHAR},
      </if>
      <if test="customerCode != null" >
        #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="exportProName != null" >
        #{exportProName,jdbcType=VARCHAR},
      </if>
      <if test="tradeTerms != null" >
        #{tradeTerms,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="creditCurrency != null" >
        #{creditCurrency,jdbcType=VARCHAR},
      </if>
      <if test="receiveAmount != null" >
        #{receiveAmount,jdbcType=DECIMAL},
      </if>
      <if test="warnStatus != null" >
        #{warnStatus,jdbcType=CHAR},
      </if>
      <if test="backResponsePerson != null" >
        #{backResponsePerson,jdbcType=VARCHAR},
      </if>
      <if test="backDate != null" >
        #{backDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.erui.report.model.RequestCreditExample" resultType="java.lang.Integer" >
    select count(*) from request_credit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update request_credit
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.creditSerialNum != null" >
        credit_serial_num = #{record.creditSerialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNum != null" >
        order_num = #{record.orderNum,jdbcType=VARCHAR},
      </if>
      <if test="record.salesMainCompany != null" >
        sales_main_company = #{record.salesMainCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.salesArea != null" >
        sales_area = #{record.salesArea,jdbcType=VARCHAR},
      </if>
      <if test="record.salesCountry != null" >
        sales_country = #{record.salesCountry,jdbcType=VARCHAR},
      </if>
      <if test="record.organization != null" >
        organization = #{record.organization,jdbcType=VARCHAR},
      </if>
      <if test="record.customerCode != null" >
        customer_code = #{record.customerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.exportProName != null" >
        export_pro_name = #{record.exportProName,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeTerms != null" >
        trade_terms = #{record.tradeTerms,jdbcType=VARCHAR},
      </if>
      <if test="record.createAt != null" >
        create_at = #{record.createAt,jdbcType=VARCHAR},
      </if>
      <if test="record.orderAmount != null" >
        order_amount = #{record.orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.creditCurrency != null" >
        credit_currency = #{record.creditCurrency,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveAmount != null" >
        receive_amount = #{record.receiveAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.warnStatus != null" >
        warn_status = #{record.warnStatus,jdbcType=CHAR},
      </if>
      <if test="record.backResponsePerson != null" >
        back_response_person = #{record.backResponsePerson,jdbcType=VARCHAR},
      </if>
      <if test="record.backDate != null" >
        back_date = #{record.backDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update request_credit
    set id = #{record.id,jdbcType=BIGINT},
      credit_serial_num = #{record.creditSerialNum,jdbcType=VARCHAR},
      order_num = #{record.orderNum,jdbcType=VARCHAR},
      sales_main_company = #{record.salesMainCompany,jdbcType=VARCHAR},
      sales_area = #{record.salesArea,jdbcType=VARCHAR},
      sales_country = #{record.salesCountry,jdbcType=VARCHAR},
      organization = #{record.organization,jdbcType=VARCHAR},
      customer_code = #{record.customerCode,jdbcType=VARCHAR},
      export_pro_name = #{record.exportProName,jdbcType=VARCHAR},
      trade_terms = #{record.tradeTerms,jdbcType=VARCHAR},
      create_at = #{record.createAt,jdbcType=VARCHAR},
      order_amount = #{record.orderAmount,jdbcType=DECIMAL},
      credit_currency = #{record.creditCurrency,jdbcType=VARCHAR},
      receive_amount = #{record.receiveAmount,jdbcType=DECIMAL},
      warn_status = #{record.warnStatus,jdbcType=CHAR},
      back_response_person = #{record.backResponsePerson,jdbcType=VARCHAR},
      back_date = #{record.backDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.erui.report.model.RequestCredit" >
    update request_credit
    <set >
      <if test="creditSerialNum != null" >
        credit_serial_num = #{creditSerialNum,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="salesMainCompany != null" >
        sales_main_company = #{salesMainCompany,jdbcType=VARCHAR},
      </if>
      <if test="salesArea != null" >
        sales_area = #{salesArea,jdbcType=VARCHAR},
      </if>
      <if test="salesCountry != null" >
        sales_country = #{salesCountry,jdbcType=VARCHAR},
      </if>
      <if test="organization != null" >
        organization = #{organization,jdbcType=VARCHAR},
      </if>
      <if test="customerCode != null" >
        customer_code = #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="exportProName != null" >
        export_pro_name = #{exportProName,jdbcType=VARCHAR},
      </if>
      <if test="tradeTerms != null" >
        trade_terms = #{tradeTerms,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        order_amount = #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="creditCurrency != null" >
        credit_currency = #{creditCurrency,jdbcType=VARCHAR},
      </if>
      <if test="receiveAmount != null" >
        receive_amount = #{receiveAmount,jdbcType=DECIMAL},
      </if>
      <if test="warnStatus != null" >
        warn_status = #{warnStatus,jdbcType=CHAR},
      </if>
      <if test="backResponsePerson != null" >
        back_response_person = #{backResponsePerson,jdbcType=VARCHAR},
      </if>
      <if test="backDate != null" >
        back_date = #{backDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erui.report.model.RequestCredit" >
    update request_credit
    set credit_serial_num = #{creditSerialNum,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=VARCHAR},
      sales_main_company = #{salesMainCompany,jdbcType=VARCHAR},
      sales_area = #{salesArea,jdbcType=VARCHAR},
      sales_country = #{salesCountry,jdbcType=VARCHAR},
      organization = #{organization,jdbcType=VARCHAR},
      customer_code = #{customerCode,jdbcType=VARCHAR},
      export_pro_name = #{exportProName,jdbcType=VARCHAR},
      trade_terms = #{tradeTerms,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=VARCHAR},
      order_amount = #{orderAmount,jdbcType=DECIMAL},
      credit_currency = #{creditCurrency,jdbcType=VARCHAR},
      receive_amount = #{receiveAmount,jdbcType=DECIMAL},
      warn_status = #{warnStatus,jdbcType=CHAR},
      back_response_person = #{backResponsePerson,jdbcType=VARCHAR},
      back_date = #{backDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>