<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erui.order.v2.dao.CheckLogMapper" >
  <resultMap id="BaseResultMap" type="com.erui.order.v2.model.CheckLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="auditing_process" property="auditingProcess" jdbcType="VARCHAR" />
    <result column="auditing_user_id" property="auditingUserId" jdbcType="INTEGER" />
    <result column="auditing_user_name" property="auditingUserName" jdbcType="VARCHAR" />
    <result column="next_auditing_process" property="nextAuditingProcess" jdbcType="VARCHAR" />
    <result column="next_auditing_user_id" property="nextAuditingUserId" jdbcType="VARCHAR" />
    <result column="auditing_msg" property="auditingMsg" jdbcType="VARCHAR" />
    <result column="operation" property="operation" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="join_id" property="joinId" jdbcType="INTEGER" />
    <result column="audit_seq" property="auditSeq" jdbcType="DECIMAL" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="tenant" property="tenant" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, order_id, create_time, auditing_process, auditing_user_id, auditing_user_name, 
    next_auditing_process, next_auditing_user_id, auditing_msg, operation, type, join_id, 
    audit_seq, category, tenant
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.erui.order.v2.model.CheckLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from check_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from check_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from check_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.erui.order.v2.model.CheckLogExample" >
    delete from check_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.erui.order.v2.model.CheckLog" >
    insert into check_log (id, order_id, create_time, 
      auditing_process, auditing_user_id, auditing_user_name, 
      next_auditing_process, next_auditing_user_id, 
      auditing_msg, operation, type, 
      join_id, audit_seq, category, 
      tenant)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{auditingProcess,jdbcType=VARCHAR}, #{auditingUserId,jdbcType=INTEGER}, #{auditingUserName,jdbcType=VARCHAR}, 
      #{nextAuditingProcess,jdbcType=VARCHAR}, #{nextAuditingUserId,jdbcType=VARCHAR}, 
      #{auditingMsg,jdbcType=VARCHAR}, #{operation,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{joinId,jdbcType=INTEGER}, #{auditSeq,jdbcType=DECIMAL}, #{category,jdbcType=VARCHAR}, 
      #{tenant,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.erui.order.v2.model.CheckLog" >
    insert into check_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="auditingProcess != null" >
        auditing_process,
      </if>
      <if test="auditingUserId != null" >
        auditing_user_id,
      </if>
      <if test="auditingUserName != null" >
        auditing_user_name,
      </if>
      <if test="nextAuditingProcess != null" >
        next_auditing_process,
      </if>
      <if test="nextAuditingUserId != null" >
        next_auditing_user_id,
      </if>
      <if test="auditingMsg != null" >
        auditing_msg,
      </if>
      <if test="operation != null" >
        operation,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="joinId != null" >
        join_id,
      </if>
      <if test="auditSeq != null" >
        audit_seq,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="tenant != null" >
        tenant,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditingProcess != null" >
        #{auditingProcess,jdbcType=VARCHAR},
      </if>
      <if test="auditingUserId != null" >
        #{auditingUserId,jdbcType=INTEGER},
      </if>
      <if test="auditingUserName != null" >
        #{auditingUserName,jdbcType=VARCHAR},
      </if>
      <if test="nextAuditingProcess != null" >
        #{nextAuditingProcess,jdbcType=VARCHAR},
      </if>
      <if test="nextAuditingUserId != null" >
        #{nextAuditingUserId,jdbcType=VARCHAR},
      </if>
      <if test="auditingMsg != null" >
        #{auditingMsg,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        #{operation,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="joinId != null" >
        #{joinId,jdbcType=INTEGER},
      </if>
      <if test="auditSeq != null" >
        #{auditSeq,jdbcType=DECIMAL},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="tenant != null" >
        #{tenant,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.erui.order.v2.model.CheckLogExample" resultType="java.lang.Integer" >
    select count(*) from check_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update check_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditingProcess != null" >
        auditing_process = #{record.auditingProcess,jdbcType=VARCHAR},
      </if>
      <if test="record.auditingUserId != null" >
        auditing_user_id = #{record.auditingUserId,jdbcType=INTEGER},
      </if>
      <if test="record.auditingUserName != null" >
        auditing_user_name = #{record.auditingUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.nextAuditingProcess != null" >
        next_auditing_process = #{record.nextAuditingProcess,jdbcType=VARCHAR},
      </if>
      <if test="record.nextAuditingUserId != null" >
        next_auditing_user_id = #{record.nextAuditingUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.auditingMsg != null" >
        auditing_msg = #{record.auditingMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.operation != null" >
        operation = #{record.operation,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.joinId != null" >
        join_id = #{record.joinId,jdbcType=INTEGER},
      </if>
      <if test="record.auditSeq != null" >
        audit_seq = #{record.auditSeq,jdbcType=DECIMAL},
      </if>
      <if test="record.category != null" >
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.tenant != null" >
        tenant = #{record.tenant,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update check_log
    set id = #{record.id,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      auditing_process = #{record.auditingProcess,jdbcType=VARCHAR},
      auditing_user_id = #{record.auditingUserId,jdbcType=INTEGER},
      auditing_user_name = #{record.auditingUserName,jdbcType=VARCHAR},
      next_auditing_process = #{record.nextAuditingProcess,jdbcType=VARCHAR},
      next_auditing_user_id = #{record.nextAuditingUserId,jdbcType=VARCHAR},
      auditing_msg = #{record.auditingMsg,jdbcType=VARCHAR},
      operation = #{record.operation,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      join_id = #{record.joinId,jdbcType=INTEGER},
      audit_seq = #{record.auditSeq,jdbcType=DECIMAL},
      category = #{record.category,jdbcType=VARCHAR},
      tenant = #{record.tenant,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.erui.order.v2.model.CheckLog" >
    update check_log
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditingProcess != null" >
        auditing_process = #{auditingProcess,jdbcType=VARCHAR},
      </if>
      <if test="auditingUserId != null" >
        auditing_user_id = #{auditingUserId,jdbcType=INTEGER},
      </if>
      <if test="auditingUserName != null" >
        auditing_user_name = #{auditingUserName,jdbcType=VARCHAR},
      </if>
      <if test="nextAuditingProcess != null" >
        next_auditing_process = #{nextAuditingProcess,jdbcType=VARCHAR},
      </if>
      <if test="nextAuditingUserId != null" >
        next_auditing_user_id = #{nextAuditingUserId,jdbcType=VARCHAR},
      </if>
      <if test="auditingMsg != null" >
        auditing_msg = #{auditingMsg,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        operation = #{operation,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="joinId != null" >
        join_id = #{joinId,jdbcType=INTEGER},
      </if>
      <if test="auditSeq != null" >
        audit_seq = #{auditSeq,jdbcType=DECIMAL},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="tenant != null" >
        tenant = #{tenant,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erui.order.v2.model.CheckLog" >
    update check_log
    set order_id = #{orderId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      auditing_process = #{auditingProcess,jdbcType=VARCHAR},
      auditing_user_id = #{auditingUserId,jdbcType=INTEGER},
      auditing_user_name = #{auditingUserName,jdbcType=VARCHAR},
      next_auditing_process = #{nextAuditingProcess,jdbcType=VARCHAR},
      next_auditing_user_id = #{nextAuditingUserId,jdbcType=VARCHAR},
      auditing_msg = #{auditingMsg,jdbcType=VARCHAR},
      operation = #{operation,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      join_id = #{joinId,jdbcType=INTEGER},
      audit_seq = #{auditSeq,jdbcType=DECIMAL},
      category = #{category,jdbcType=VARCHAR},
      tenant = #{tenant,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>